{% extends "base.html" %}
{% block title %}
PostDetail
{% endblock %}

{% block content %}
<h1>This is Tweet's Detail!</h1>
{% for tweet in tweets %}
<p>
    <li><a href="{% url 'accounts:user_profile' tweet.user.username %}">{{tweet.user}}</a></li>
    {{ tweet.title }}<br>
    {{ tweet.content}}<br>
    {{ tweet.created_at }}
    {{ n_liked }}
    <a href="/tweets/{{tweet.id}}/like">Like</a>
    <a href="/tweets/{{tweet.id}}/unlike">Unlike</a>
    {% if tweet.user == request.user %}
    <a href="/tweets/{{tweet.id}}/delete">delete</a>
    {% endif %}
</p>
{% endfor %}
{% endblock %}
