{% extends "base.html" %}
{% block title %}
UserProfile
{% endblock %}

{% block content %}
<h1>This is {{ username }} home!</h1>
<p>フォロワー数: {{n_follower}}</p>
<p>フォロー数: {{n_following}}</p>
<a href="/accounts/{{username}}/follow">フォロー</a>
<a href="/accounts/{{username}}/unfollow">フォロー解除</a>
<a href="/accounts/{{username}}/following_list">フォロー一覧</a>
<a href="/accounts/{{username}}/follower_list">フォロワ一一覧</a>

{% for tweet in tweets_list %}
<p>
    {{ tweet.user }}<br>
    {{ tweet.title }}<br>
    {{ tweet.content}}<br>
    {{ tweet.created_at}}
    <a href="/tweets/{{tweet.id}}">Detail</a>
    {% if tweet.user == request.user %}
    <a href="/tweets/{{tweet.id}}/delete">delete</a>
    {% endif %}
</p>
{% endfor %}
{% endblock %}
